nav .elementor-nav-menu li:hover a {
    background-color: #343133;
}
.elementor-menu-toggle:focus {
    outline: none !important;
    border: none !important;
}
span.wpcf7-not-valid-tip {
    display: none;
}
.error {
    /*color: #f30606;*/
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
}
/*---Footer Form---*/
ul.enquirer_form {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.enquirer_form li {
    flex: 0 0 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}
ul.enquirer_form li.callback-enquiry {
    flex: 0 0 100%;
}
ul.enquirer_form li.callback-submit {
    text-align: right;
    flex: 0 0 100%;
    margin-bottom: 0;
}
ul.enquirer_form input, textarea {
    border-radius: 0;
    border-color: #d7d7d9;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
ul.enquirer_form input:focus, ul.enquirer_form textarea:focus{
    border-color: #d7d7d9;
    outline: none;
}
.footer__form .wpcf7-response-output{
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    border: none;
    margin-top: 10px;
}
ul.enquirer_form input.button{
    background-color: #d3b574;
    color: #16163f;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 50px 15px 50px;
}
ul.enquirer_form input.button:hover{
    background-color: #1f1c1d;
    color: #fff;
}

/*MEDIA QUERY*/
@media screen and (max-width: 1024px){
    .service-block__img {
        order: 4;
    }
    .service-block__icon {
        order: 1;
    }
    .service-block__title{
        order: 2;
    }
    .service-block__text {
        order: 3;
    }
}
@media screen and (max-width: 575px) {
    ul.enquirer_form li {
        flex: 0 0 100%;
    }
    ul.enquirer_form li.callback-submit {
        text-align: center;
    }
    ul.enquirer_form li.callback-submit .button {
        width: 100%;
    }
}